@import '../../styles/functions';
@import '../../styles/mixins';

.list {
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
  width: calc(25% - #{rem(10)});
  @include mq($bp-tablet) {
    width: 100%;
  }
}
