@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.chip {
  display: flex;
  align-items: center;
  column-gap: 0.875rem;
  border: 1px solid $color_grey;
  padding: 0.875rem;
  border-radius: rem(6);
  min-width: 11.5rem;
}
.activeChip {
  border-color: $color_main;
  background-color: rgba($color_grey, 0.2);
}
.userPicture {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #d3d3d3;
}
