@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

.ConvLayout {
  display: flex;
  column-gap: rem(20);
  width: 100%;
}
.ConvWrapper {
  width: calc(75% - #{rem(10)});
  @include mq($bp-tablet) {
    width: 100%;
  }
}
